:root{
    --bg-color: #242526;
    --background-color: #18191A;
    --text-color: #E7E9EC;
    --texttwo-color: #E4E6EB;
    --textthree-color: #9A9CA1;
    --hover-color: #3A3B3C;
    --hovertwo-color: #394D62;
    --hoverthree-color: #303031;
    --icon-background: #4E4F50;
    --icontwo-color: #B1B4B7;
    --iconthree-color: #75787E;
    --other-color: #2176FF;
}
